body {
    
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 
}

nav ul {
    background-color: #333;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 20px;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    color: #333;
}

h2 {
    border-bottom: 2px ;
    padding-bottom: 5px;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a:hover {
    color: red;
}

p details {
    color: #555;
}

article header p {
    font-style: italic;
}

header {
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

main {
    padding-top: 20px;
}

thead {
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}